body{
	text-align: center;
	color:white !important;
	background:url("../img/universe.jpg");
	width:100%;
	height:auto;
	font-size: 35px !important;
	padding: 50px;
	text-shadow: 0px 0px 15px #050213;
}